#[submodule "themes/themes/apollo"]
#	path = themes/themes/apollo
#	url = https://github.com/not-matthias/apollo
#commenting out so the changes to main theme dont affect me since3 i had an issue where the whole public folder disapperaed for me :(